*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#000;
}

header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:25px 70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:100;
    border-bottom: 1px solid rgba(255,255,255,.08);
    box-shadow: 0 4px 12px rgba(0,0,0,.25);
}

.logo img{
    height:60px;
    width:auto;
    display:block;
}

nav{
    display:flex;
    gap:24px;
}

.nav-boton{
    color:#FFD700;
    text-decoration:none;
    font-weight:bold;
    padding:12px 24px;
    border:2px solid #FFD700;
    border-radius:6px;
    transition:.3s;
}

.nav-boton:hover{
    background:#FFD700;
    color:#000;
}

.pantalla{
    height:100vh;
    background-image:url("../imagenes/Despierta-Potencial.jpg");
    background-size:cover;
    background-position:center;
    position:relative;
    display:flex;
    align-items:center;
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.35);
}

.contenido{
    position:relative;
    margin-left:100px;
    max-width:650px;
}

.contenido h1{
    font-size:48px;
    margin-bottom:20px;
    font-weight:bold;
    color:#fff;
}

.contenido p{
    font-size:20px;
    line-height:35px;
    color:#ddd;
}
